*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, h1{
    
text-align: center;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2021/07/06/19/26/drops-6392473_1280.jpg");
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    right: 0rem;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
}